<nav class="navbar navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand"  routerLink="/clientes">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link active" aria-current="page" routerLink="/clientes">Clientes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Links importantes sobre el cuidado personal
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item custom-link " href="https://www.euroinnova.edu.es/blog/por-que-es-importante-cuidar-el-cuerpo/" target="_blank">Por que es importante Cuidar el cuerpo</a></li>
              <li><a class="dropdown-item custom-link " href="https://salud.nih.gov/recursos-de-salud/herramientas-de-bienestar/su-cuerpo" target="_blank">Recursos de salud</a></li>
   
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>