<div class="abrir-modal animacion fadeIn" *ngIf="modelservie.modal" >
<div  class="modal abrir-modal" tabindex="-1" style="display: block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ titulo }}</h5>
          <button (click)="cerrarmodal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <ul *ngIf="cliente" class="list-group text mb-3">
                            <li class="list-group ">{{cliente.nombre}}</li>
                            <li class="list-group">{{cliente.email}}</li>
                            <li class="list-group">{{cliente.estatura}}</li>
                            <li class="list-group">{{cliente.peso}}</li>
                            <li class="list-group">{{cliente.imcA}}</li>
        
                        </ul>
                        <div class="input-group">
                            <input (change)="seleccionarFoto($event)" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            <button [disabled]="!fotoselecionada" (click)="subirFoto()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir foto</button>
                          </div>
                
                    </div>
                    <div class="col-sm">
                        <img *ngIf="cliente?.foto" src="http://localhost:8080/api/upload/img/{{cliente.foto}}" alt="{{cliente.foto}}" class="img-thumbnail rounded">
        
                    </div>
                    <button (click)="cerrarmodal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        
            </div>
        </div>
        </div>
        <div class="modal-footer">

      </div>
</div>